<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update User</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	
	<style>
	.error
	{
	color:red;
	}
	
	</style>
	
</head>
<body>
	<div class="text-center">
		<h1>Update User</h1>
	</div>

	<div class="container">
		<form th:action="@{/update/{id}(id=${user.id})}" th:object=${user} method="post">
			<div class="form-group">
				<label for="exampleInputEmail1">Name</label> <input type="text"
					class="form-control" id="exampleInputEmail1" th:field="*{name}"
					name="name" aria-describedby="emailHelp" placeholder="Enter name">
					
					<div th:errorclass="error"
					th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					
			</div>

			<div class="form-group">
				<label for="exampleInputPassword1">Password</label> <input
					type="password" class="form-control" name="password"
					id="exampleInputPassword1" placeholder="Enter Password">
			</div>

			<div class="form-group">
				<label for="exampleInputEmail1">Email</label> <input type="email"
					class="form-control" th:field="*{email}" id="exampleInputEmail1"
					aria-describedby="emailHelp" name="email" placeholder="Enter email">
					
					<div th:errorclass="error"
					th:if="${#fields.hasErrors('email')}" th:errors=${user.email}></div>
					
			</div>

			<div class="form-group">
				<label for="exampleInputEmail1">About</label>
				<textarea class="form-control" id="exampleInputEmail1"
					aria-describedby="emailHelp" name="about" th:field="*{about}"
					rows="3" placeholder="Enter about"></textarea>

			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
			
			<hr>
			
			<p>
			<a th:href="@{/find}">Back to the main list</a>
			</p>

		</form>
	</div>


</body>
</html>